<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - 我與七郎的愛蜜空間</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/icon.ico" />
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>

    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {{ moment.include_moment() }}

    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">Awesome</a>
            <ul class="uk-navbar-nav">
                <li><a href="{{ url_for('main.user', username=current_user.username) }}"><i class="uk-icon-home"></i>我們的家</a></li>
                <li data-url="blogs"><a href="/"><i class="uk-icon-book"></i>博客</a></li>
                <li><a target="_blank" href="#"><i class="uk-icon-code"></i>祕密</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                {% if __user__ %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href=""><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="{{ url_for('auth.change_password') }}"><i class="uk-icon-sign-out"></i> Change Password</a></li>
                                <li><a href="{{ url_for('auth.change_email_request') }}"><i class="uk-icon-sign-out"></i> Change Email</a></li>
                                <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                    <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!-- content -->
            {% block content %}
                <div class="container">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>>
                    {% endfor %}
                </div>
                {% block page_content %}{% endblock %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="https://weibo.com/u/1747361147" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="https://github.com/dedicatus545yuka" class="uk-icon-button uk-icon-github"></a>
                    <a target="_blank" href="https://www.instagram.com/29_iguchiyuka_29/" class="uk-icon-button uk-icon-linkedin-square"></a>
                    <a target="_blank" href="https://twitter.com/yukachi_iguchi" class="uk-icon-button uk-icon-twitter"></a>
                </p>
                <p>Powered by <a href="http://www.mizukinana.jp">Nana Party Nana Mizuki official web site</a>. Copyright &copy; 2018. [<a href="/manage/" target="_blank">Manage</a>]</p>
                <p><a href="http://tieba.baidu.com/f?kw=%CB%AE%CA%F7%C4%CE%C4%CE&fr=ala0&loc=rec" target="_blank">7郎的牛郎騎士團</a>. All rights reserved.</p>
                <a target="_blank" href=""><img src="/static/foot.png" style="height: 77px;"></img></a>
            </div>

        </div>
    </div>
</body>
</html>
